* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.tree-container{
    margin-top: 20px;
    background-color: green;
}

.tree-row {
    font-size: 20px;
    display: flex;
    justify-content: center;
    line-height: 1.2;
}

.star {
    color: rgb(223, 243, 120);
    display: inline-block;
    width: 20px; 
    text-align: center; 
    font-size: 24px; 
}

.trunk {
    width: 10px;
    height: 20px;
    background-color: brown;
    border-radius: 2px;
    text-align: center;
    margin: 0 auto;
}
  